<%= render 'layouts/h1', title: "ユーザ詳細" %>

<div class="my-3">
  <p class="h4 font-weight-bold mb-2">氏名</p>
  <%= @user.name %>
</div>

<div class="my-3">
  <p class="h4 font-weight-bold mb-2">アカウント名</p>
  <%= @user.screen_name %>
</div>

<div class="my-3">
  <p class="h4 font-weight-bold mb-2">最新タスク</p>
  <%= render @assigned_tasks %>
  <%= link_to "タスク一覧へ", tasks_path, method: :get, class: "text-muted text-decoration-none" %>
</div>

<% if logged_in? && current_user?(@user) %>
  <div>
    <p class="h4 font-weight-bold mb-2">APIトークン</p>
    <% @api_tokens.each do |api_token| %>
      <div class="p-3 my-3 border rounded d-flex justify-content-between">
        <div>
          <p>APIトークン: <%= api_token.secret %></p>
          <p>トークン名: <%= api_token.description %></p>
          <p>有効期限: <%= api_token.expired_at %></p>
        </div>
        <%= link_to '編集', edit_api_token_path(api_token), class: "btn btn-sm" %>
        <%= button_to '削除', api_token, method: :delete, data: { turbo_confirm: 'このAPIトークンを削除しますか？' }, class: "btn btn-sm" %>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to '編集', edit_user_path(@user), class: "btn btn-sm" %>
